main {
  background-image: linear-gradient(to bottom, #1d4e4b 0%, #339886 100%);
}

::placeholder {
  color: rgba(255, 255, 255, 0.52);
}

input:focus {
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.63);
}

#right_part {
  overflow: hidden;
}

#spectre {
  animation-name: spectreRotation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spectreRotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#modal-info, #modal-msg {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  background-color: #002922d5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation-name: modal-infoAppears;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#modal-info>.modal-info-inline, #modal-msg>.modal-info-inline {
  background-color: #e8fffb;
  max-width: 500px;
  transform: translateY(-50%);
  animation-name: modal-infoInlineAppears;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

}

@keyframes modal-infoAppears {
  100% {
      opacity: 1;
  }
}

@keyframes modal-infoInlineAppears {
  100% {
      transform: translateY(0%);
  }
}
